.footer {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;

  &__socials {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__socials_items {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      color: $base-white;
      width: 20px;
      height: 20px;

      &:hover {
        transform: scale(1.1);
        color: $base-blue;
      }
    }
  }

  &__email {
    width: 100%;
    max-width: 100%;
    text-align: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      font-size: 0.9rem;
      color: $base-white;

      @media (max-width: 768px) {
        font-size: 0.7rem;
      }

      &:hover {
        color: $base-blue;
      }
    }
  }

  &__links {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  }

  &__links_wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    a {
      font-size: 0.9rem;
      color: $base-white;

      @media (max-width: 768px) {
        font-size: 0.7rem;
      }

      &:hover {
        color: $base-blue;
      }
    }
  }
}
