.gemini_effect {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    background: rgb(0, 0, 0);

    &__container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;

        svg {
            transform: translate(0, -15%);
        }
    }
}
