.hero {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: url("../../../public/assets/Wave\ Line.svg") no-repeat center center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__image {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 2px solid $base-blue;
      object-fit: cover;
    }
  }

  &__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      color: $base-blue;

      span {
        color: $base-dark;
      }
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      color: $base-dark;
    }
  }
}
