.navbar {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 1.5rem;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* From https://css.glass */
  background: rgba(0, 255, 255, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);

  z-index: 1000;

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
