.navbar {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 1.5rem;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      color: $base-white;
      svg {
        width: 1.6rem;
        height: 1.6rem;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $base-blue;
        }

        @media (max-width: 768px) {
          width: 1.3rem;
          height: 1.3rem;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__menu {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    @media (max-width: 480px) {
      align-items: center;
    }
  }

  &__menu_item {
    font-size: 1.2rem;

    a {
      color: $base-white;
      &:hover {
        color: $base-blue;
      }
    }

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}
