$base-blue: #047fa9;
$base-aqua: #00ffff;
$base-dark-blue: #0617f8dc;
$base-yellow: #fac80f;
$base-orange: #ff9100;
$base-violet: #5a31f4;
$base-lilac: #a3a1f7;
$base-green: #3c811f;
$base-redish: #f15f6f;
$base-grey: #e0e0e0;
$base-dark-grey: #c5c5c5;
$base-light-error: #fd010169;
$base-error: #ed4337;
$base-error-secondary: #f02f2fd8;
$base-success: #6cc070;
$base-success-secondary: #3c811f;
$base-warning: #fac80f;
$base-warning-secondary: #f5b400;
$base-info: #2f82ff;
$base-info-secondary: #1a28f1dc;
$base-white: #fafafa;
$base-dark: #2b2a2a;
$base-dark-secondary: #000;

$bg-color1: #e6d8d80c;
$bg-color2: #0d86801f;

$base-shadow-1: #63636333 0px 2px 8px 0px;
$base-shadow-2: #6363631a 0px 0px 4px 0px;
$base-shadow-3: #00000026 0px 2px 8px;

$base-cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$base-button-transition: all 1s linear;

$base-breakpoint-768px: 768px;
$base-breakpoint-480px: 480px;

.progress_bar {
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    z-index: 50;
    height: 0.25rem;
    background-image: linear-gradient(to left, $base-blue, $base-lilac);
    transform-origin: right;
}

.base_blurry_background {
    /* From https://css.glass */
    background: rgba(28, 28, 28, 0.93);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(28, 28, 28, 0.97);
    padding: 2rem;
}

.header {
    position: relative;
    height: 80px;
    margin-top: 2rem;

    @media (max-width: 768px) {
        height: 75px;
    }

    @media (max-width: 480px) {
        height: 40px;
    }

    h2 {
        color: #fff;
        font-size: 4rem;
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        letter-spacing: 0.8rem;

        @media (max-width: 768px) {
            font-size: 3rem;
        }

        @media (max-width: 480px) {
            font-size: 1.5rem;
        }

        &:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: 2px $base-blue;
        }
        &:nth-child(2) {
            color: $base-aqua;
            animation: animate 2s ease-in-out infinite;
        }
    }
}

//styles overrides
.ant-drawer-mask,
.ant-modal-mask {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.44);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.ant-drawer-close {
    color: $base-white !important;
    font-size: 1.5rem !important;
    transition: all 0.3s ease-in-out !important;

    &:hover {
        color: $base-blue !important;
        transform: rotate(90deg) !important;
    }
}

.ant-modal-content {
    /* From https://css.glass */
    background: rgba(28, 28, 28, 0.93);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(28, 28, 28, 0.97);
}

.ant-modal-confirm-body-wrapper {
    width: 100%;
    max-width: 100%;
    color: $base-white;
}

.ant-modal-confirm-body {
    display: flex;
    gap: 1rem;
    svg {
        width: 2rem;
        height: 2rem;
        fill: $base-error;
        stroke: $base-error;
    }

    .ant-modal-confirm-title {
        font-size: 0.9rem;
        color: $base-white;
    }
}

.ant-modal-header {
    background: rgba(28, 28, 28, 0.93);
}

.ant-modal-title {
    text-transform: uppercase;
    color: $base-white;
    font-size: 1.1rem;
    font-weight: 500;
}

.ant-btn-default {
    border: none !important;
    background: $base-blue !important;
}

.ant-btn-dangerous {
    border: none !important;
    background: $base-error !important;
}

.ant-modal-close {
    color: $base-white !important;
}

.ant-modal-close-x {
    margin-top: 1rem;
}

.ant-tooltip-inner {
    background-color: $base-dark !important;
}

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: fit-content !important;

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 90% !important;
        transition: all 0.2s ease-in-out 0s !important;
        width: 50px !important;
        height: 50px !important;
        color: $base-blue !important;
        background-color: rgba(0, 0, 0, 0) !important;
        scale: 0.5 !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1) !important;
            scale: 1 !important;
        }
    }

    .swiper-button-prev {
        left: 0 !important;
    }

    .swiper-button-next {
        right: 0 !important;
    }
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

@keyframes shadowEffect {
    0% {
        box-shadow: none;
    }
    15% {
        box-shadow: rgba(36, 36, 36, 0.1) 0px 0px 15px 5px;
    }
    30% {
        box-shadow: rgba(3, 3, 3, 0.2) 0px 0px 20px 10px;
    }
    45% {
        box-shadow: rgba(20, 20, 20, 0.3) 0px 0px 15px 5px;
    }
    60% {
        box-shadow: rgba(17, 17, 17, 0.4) 0px 0px 20px 10px;
    }
    75% {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px 5px;
    }
    90% {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 10px;
    }
    100% {
        box-shadow: none;
    }
}
