@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Fira Sans", sans-serif;
}

section {
  min-height: 100vh;
  overflow: hidden;
  padding: 1.75rem;
}

.active {
  color: rgb(45 212 191) !important;
  padding: 5px;
  border-bottom: 1px solid rgb(45 212 191) !important;
  transform: scale(1.1);
}

.carousel .carousel-slider {
  background: #555555 !important;
  border-radius: 16px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

.error::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.error:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

.error::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

@layer components {
  .mainContainer {
    @apply bg-gradient-to-br from-gray-700 via-gray-900 to-black;
  }
  .navbarStyles {
    @apply sticky top-0 bg-opacity-40 backdrop-blur-sm rounded drop-shadow-md z-50 px-10 pt-5 pb-3 md:px-20 lg:px-40;
  }
  .mainButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest 
    text-black bg-gray-600 transition-all hover:bg-teal-600 focus:bg-teal-600 focus:outline-none;
  }
  .sectionTitle {
    @apply mt-5 uppercase tracking-[10px] text-gray-400 text-lg md:text-2xl lg:text-3xl;
  }
  .sectionSubTitle {
    @apply mt-5 text-center uppercase text-gray-400 text-sm;
  }
  .sectionDisclaimer {
    @apply mt-5 text-center uppercase text-gray-400;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b border-[#14a08442] px-6 py-4 text-teal-500
    placeholder-gray-500 transition-all  focus:border-teal-600  focus:text-teal-600 hover:border-teal-600 resize-none;
  }
  .sectionDivider {
    @apply w-12 h-[2px] rounded-r-lg bg-white bg-gradient-to-r from-teal-400 to-gray-600 mt-20 mx-auto md:w-20 md:h-1 lg:w-40 lg:h-2;
  }
  .sectionEnding {
    @apply w-12 h-[2px] rounded-r-lg bg-transparent mt-20 mx-auto md:w-20 md:h-1 lg:w-40 lg:h-2;
  }
  .aboutText {
    @apply tracking-wide text-sm text-justify text-gray-400 pb-3 leading-6;
  }
  .timelineText {
    @apply text-left text-lg font-bold  text-gray-400 pb-3 leading-6;
  }
  .carouselText {
    @apply tracking-wide text-sm text-justify text-gray-400 pb-3 leading-6 md:text-center;
  }
  .footerLink {
    @apply flex items-center gap-1 tracking-wide text-sm text-center text-gray-800 hover:text-teal-400 pb-3 leading-6 w-fit;
  }
  .footerSharingSocial {
    @apply transition-all duration-500 ease-out text-gray-800 hover:text-teal-400 text-xl pb-3 leading-6 w-fit;
  }
  .menuLinks {
    @apply flex items-center gap-1 text-gray-800 uppercase tracking-wide hover:text-teal-500;
  }
  .progress-bar {
    @apply fixed top-0 left-0 right-0 h-1 backdrop-blur-sm bg-cyan-700 origin-left z-50;
  }
}
