@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    touch-action: manipulation; /* Ensure better touch responsiveness */
}

*:before,
*:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    background: #000;
}

main {
    padding-top: 1rem;
    margin: 0 auto;
    position: relative;
    width: 100%; /* Ensure main takes full width */
}

section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    @media (max-width: 768px) {
        padding: 0.5rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: #fff; /* Use a fallback color */
}

p,
a,
small,
span {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #fff; /* Use a fallback color */
    letter-spacing: 0.025rem;
}

button,
textarea,
select,
option,
label {
    transition: all 0.5s linear;
    font-family: "Space Grotesk", sans-serif !important;
}

img,
video,
canvas,
svg {
    max-width: 100%;
    height: auto; /* Ensure images and media adjust proportionally */
}

a {
    text-decoration: none;
    color: #000; /* Use a fallback color */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff; /* Use a fallback color */
}

li {
    color: #fff; /* Use a fallback color */
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #ccc; /* Use a fallback color */
}
